button, .button {
    background-color: var(--primary-tms-color);
    color: var(--primary-text-color);
    font-size: 1rem;
    padding: .6em .8em;
    border-radius: .3em;
    border: none;
    box-shadow: var(--shadow);
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s background-color;
}

button[disabled="disabled"],
.button[disabled="disabled"] {
    background-color: var(--primary-background-color);
    cursor: not-allowed;
}

.button-holder {
    text-align: center;
    margin: 2.5em 0;
}
