header {
    display: flex;
    background-color: #19181b;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    box-shadow: var(--shadow);
    align-items: center;
}

header img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    padding: .5em;
}

header div {
    flex-grow: 1;
    text-align: right;
    margin-right: 1em;
}

h1 {
    font-weight: normal;
    font-size: 1.5em;
    margin-left: .5em;
}

footer {
    color: var(--tertiary-text-color);
}

article.page {
    position: fixed;
    width: 100%;
    top: 4em;
    left: 0;
    height: calc(100vh - 4em);
    overflow-y: auto;
    transition: 200ms;
}

article.page.fade-in {
    opacity: 0;
    left: 1em;
}

article.page.fade-out {
    opacity: 0;
    left: -1em;
}

section {
    background-color: #19181b;
    border: 1px solid #151417;
    border-radius: 6px;
    box-shadow: var(--shadow);
    padding: 0 1em 1em 1em;
    margin: .5em;
}

section > h2,
section > h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 -1em 1em -1em;
    padding: .6em 1em;
    border-bottom: 1px solid #151417;
}

section > h2 i,
section > h3 i {
    margin-right: .5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
}

table th {
    text-align: left;
}

table th,
table td {
    padding: .25em;
}

table tr:nth-child(even) {
    background-color: #252428;
}

#active-stream-table {
    display: block;
    max-height: 360px;
}

.expand {
    display: block;
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding: .25em 0;
}

.expand.red {
    background-color: #d44343;
}

.expand.green {
    background-color: #4cca4c;
}

.pagination {
    color: var(--primary-text-color);
    font-size: 1.3em;
}

.pagination span {
    display: inline-block;
}

button {
    color: var(--primary-text-color);
    background-color: var(--primary-tms-color);
    border: none;
    padding: .4em .8em;
    margin: .4em;
    border-radius: 3px;
    cursor: pointer;
}

#followers {
    display: flex;
}

#followers > div {
    display: inline-block;
    margin: .2em .5em;
    flex-grow: 1;
}

.pfp {
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
}

#follow-modal {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#follow-modal section {
    width: 30em;
    background-color: var(--primary-text-color);
    color: var(--primary-background-color);
    border-color: var(--secondary-text-color);
    box-shadow: var(--light-shadow);
}

#follow-modal section h2 {
    border-color: var(--secondary-text-color);
}
