<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Mod Squad - Contact Us</title>
    
    <%- include("../partials/head") %>

    <link rel="stylesheet" href="/assets/css/public.css">
    <link rel="stylesheet" href="/assets/css/button.css">

</head>
<body>
    
    <%- include("../partials/public/header") %>

    <section class="landing landing-small">
        <div class="wrapper">
            <h1>Twitch Mod Squad</h1>
        </div>
    </section>

    <main>
        <section>
            <h2>Contact Us</h2>
            
            <p><strong>This form is currently under construction!</strong></p>

            <p>If you need to get in contact, please add <code>@Twijn#8888</code> on Discord, or email <code>twijn@twijn.net</code>!</p>

            <div class="button-holder">
                <a href="mailto:twijn@twijn.net" class="button">Draft an Email</a>
            </div>
        </section>

        <section class="transparent">
            <div class="wrapper">
                <h2>Hosting Services</h2>

                <p>
                    In order to fully utilize our servers, we offer hosting to streamers and their communities for game servers, websites, and more! Click below to see more information!
                </p>

                <div class="button-holder">
                    <a href="/hosting" class="button">View Hosting Services</a>
                </div>
            </div>
        </section>
    </main>
    
    <%- include("../partials/public/footer") %>
    
    <%- include("../partials/js") %>

    <script src="/assets/js/public.js"></script>
</body>
</html>
