<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Mod Squad - Hosting</title>
    
    <%- include("../partials/head") %>

    <link rel="stylesheet" href="/assets/css/public.css">
    <link rel="stylesheet" href="/assets/css/button.css">

</head>
<body>
    
    <%- include("../partials/public/header") %>

    <section class="landing landing-small">
        <div class="wrapper">
            <h1>Twitch Mod Squad</h1>
        </div>
    </section>

    <main>
        <section>
            <h2>Hosting Services</h2>
            
            <p>
                This is under construction!
            </p>
        </section>

        <section class="transparent">
            <div class="wrapper">
                <h2>Contact Us</h2>

                <p>
                    Have questions? Want to learn how to join TMS? Click below!
                </p>

                <div class="button-holder">
                    <a href="/contact-us" class="button">Contact Us</a>
                </div>
            </div>
        </section>
    </main>
    
    <%- include("../partials/public/footer") %>
    
    <%- include("../partials/js") %>

    <script src="/assets/js/public.js"></script>
</body>
</html>
