<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Mod Squad - Hosting</title>
    
    <%- include("../partials/head") %>

    <link rel="stylesheet" href="/assets/css/public.css">
    <link rel="stylesheet" href="/assets/css/button.css">

</head>
<body>
    
    <%- include("../partials/public/header") %>

    <section class="landing landing-small">
        <div class="wrapper">
            <h1>Twitch Mod Squad</h1>
        </div>
    </section>

    <main>
        <section>
            <h2>Hosting Services</h2>
            
            <p>
                We offer <strong>free</strong> hosting services to TMS members and their streamers on our Gaming server hosted by <a href="https://ovhcloud.com" target="__blank">OVH Cloud</a>!
            </p>
            <p>
                Upgrade your community by creating a Minecraft, Rust, FiveM, and many other game servers for your members!
                <br>
                <a href="https://github.com/parkervcp/eggs#bots" target="__blank">See the full list of games we are able to host</a>
            </p>
            <p>
                <strong>Our server specifications:</strong>
                <br>
                <strong>CPU:</strong> AMD Ryzen 7 5800X (6c/8t) (3.8 GHz/4.7 GHz)
                <br>
                <strong>RAM:</strong> 128 GB ECC 2666MHz
                <br>
                <strong>OS:</strong> Ubuntu Server 20.04 LTS
                <br>
                <strong>Panel:</strong> <a href="https://pterodactyl.io/" target="__blank">Pterodactyl</a>
            </p>
            <p>
                To learn more, please <a href="https://support.tms.to" target="__blank">fill out a support ticket</a>.
            </p>
        </section>

        <section class="transparent">
            <div class="wrapper">
                <h2>Contact Us</h2>

                <p>
                    Have questions? Want to learn how to join TMS? Click below!
                </p>

                <div class="button-holder">
                    <a href="/contact-us" class="button">Contact Us</a>
                </div>
            </div>
        </section>
    </main>
    
    <%- include("../partials/public/footer") %>
    
    <%- include("../partials/js") %>

    <script src="/assets/js/public.js"></script>
</body>
</html>
