<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Mod Squad</title>

    <%- include("../partials/head") %>

</head>
<body>
    <h1 style="max-width: 30em;text-align: center;font-weight: 300;position:absolute;top: 50%;left:50%;transform: translate(-50%, -50%);">Hey! Our public webfront currently isn't up. If you have questions or concerns, feel free to message @Twijn#8888 on Discord.</h1>
    
    <%- include("../partials/js") %>
</body>
</html>
