<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Mod Squad</title>
    
    <%- include("../partials/head") %>

    <link rel="stylesheet" href="/assets/css/overview.css">
    <link rel="stylesheet" href="/assets/css/containers.css">
</head>
<body>
    <header>
        <img src="/assets/images/logo.webp" alt="TMS Logo">
        <h1>TMS Overview</h1>
        <div>
            Software Uptime: <span id="uptime">00:00:00</span>
        </div>
    </header>

    <main>
        <article id="page-1">
            <div class="container container-sm">
                <section class="col-8">
                    <h2>Most Active Users <small>(last minute)</small></h2>
                    <div>
                        <canvas id="active-users" height="50"></canvas>
                    </div>
                </section>
                <section class="col-4">
                    <h2>Leaderboard</h2>
                    <table id="leaderboard">
                        <tbody>
                            <tr>
                                <th>Top Streamer</th>
                                <td><span id="streamer-display-name">Unknown Streamer</span></td>
                                <td><small><span id="streamer-count">0</span> messages</small></td>
                            </tr>
                            <tr>
                                <th>Top Chatter</th>
                                <td><span id="chatter-display-name">Unknown Streamer</span></td>
                                <td><small><span id="chatter-count">0</span> messages</small></td>
                            </tr>
                            <tr>
                                <th>Most Banned</th>
                                <td><span id="banned-display-name">Unknown Streamer</span></td>
                                <td><small><span id="banned-count">0</span> bans</small></td>
                            </tr>
                            <tr>
                                <th>Most Timed Out</th>
                                <td><span id="timedout-display-name">Unknown Streamer</span></td>
                                <td><small><span id="timedout-count">0</span> timeouts</small></td>
                            </tr>
                            <tr>
                                <th>Most Live (past month)</th>
                                <td><span id="mostlive-display-name">Unknown Streamer</span></td>
                                <td><small><span id="mostlive-count">0</span> streams</small></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
            <div class="container container-sm">
                <section class="col-6">
                    <h2>Chat Activity</h2>
                    <div>
                        <canvas id="chat-activity" height="85"></canvas>
                    </div>
                </section>
                <section class="col-6">
                    <h2>Hourly Activity</h2>
                    <div>
                        <canvas id="hourly-activity" height="85"></canvas>
                    </div>
                </section>
            </div>
            <div class="container container-sm">
                <section class="col-2">
                    <h2>Total Recorded Bans</h2>
                    <div>
                        <span id="bans" class="expand red">0K</span>
                    </div>
                </section>
                <section class="col-2">
                    <h2>Total Recorded T/Os</h2>
                    <div>
                        <span id="timeouts" class="expand red">0K</span>
                    </div>
                </section>
                <section class="col-2">
                    <h2>Monitored Channels</h2>
                    <div>
                        <span id="streamers" class="expand green">0</span>
                    </div>
                </section>
                <section class="col-2">
                    <h2>Total Moderators</h2>
                    <div>
                        <span id="moderators" class="expand green">0</span>
                    </div>
                </section>
                <section class="col-2">
                    <h2>Last Ban</h2>
                    <div>
                        <span id="last-ban" class="expand red">a while ago</span>
                    </div>
                </section>
                <section class="col-2">
                    <h2>Total T/O Time</h2>
                    <div>
                        <span id="total-to" class="expand red">a very long time</span>
                    </div>
                </section>
            </div>
            <section>
                <h2>Recent Followers</h2>
                <div id="followers"></div>
            </section>
        </article>
        <article id="page-2" style="display: none;">
            <div class="container container-md">
                <section class="col-6">
                    <h2>Hosted Stream</h2>
                    <iframe id="hosted-stream" src="https://player.twitch.tv/?channel=gghayley&parent=localhost" frameborder="0" width="640" height="360"></iframe>
                </section>
                <section class="col-3">
                    <h2>Live Streamers</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Streamer</th>
                                <th>Game</th>
                                <th>Viewers</th>
                            </tr>
                        </thead>
                        <tbody id="active-streams">

                        </tbody>
                    </table>
                </section>
            </div>
            <section>
                <h2>Viewer Count</h2>
                <canvas id="viewer-count" height="50"></canvas>
            </section>
        </article>
    </main>

    <div id="follow-modal" style="display: none;">
        <section>
            <h2>
                New Follow!
            </h2>
            <div id="new-follow"></div>
        </section>
    </div>

    <footer>
        <% if (!streamOverlay) { %>
            <div class="pagination">
                <button class="previous" type="button">Prev</button>
                Page <span id="page-num">1</span>/2
                <button class="next" type="button">Next</button>
            </div>
        <% } %>
        Copyright &copy; <%= (new Date()).getFullYear() %> - Twitch Mod Squad :|: TMS is not affiliated with Twitch
    </footer>

    <script>
        const streamOverlay = <%= streamOverlay ? "true" : "false" %>;
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/master.js"></script>
    <script src="/assets/js/overview.js"></script>
</body>
</html>