<div class="sidebar">
    <nav>
        <a href="/panel/" <%- page === "home" ? ' class="active"' : '' %>><i class="fa-solid fa-house"></i>&nbsp;Home</a><!--
    --><a href="/panel/chat-history" <%- page === "chat-history" ? ' class="active"' : '' %>><i class="fa-solid fa-comments"></i>&nbsp;Chat History</a><!--
    --><a href="/panel/search" <%- page === "search" ? ' class="active"' : '' %>><i class="fa-solid fa-magnifying-glass"></i>&nbsp;User Search</a>
    </nav>
</div>