<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Mod Squad - Invite</title>

    <%- include("../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/signon.css">
    <link rel="stylesheet" href="/assets/css/join.css">
</head>
<body>
    <main>
        <h1><img class="logo" src="/assets/images/logos/logo.webp" alt="Twitch Mod Squad Logo"> Twitch Mod Squad <span>invite</span></h1>
        <p>Invalid or expired invite!</p>
        <p class="small">The invite link sent to you has expired! Please request a new invite link from the user that invited you.</p>
    </main>

    <%- include("../../partials/footer") %>
    
    <%- include("../../partials/js") %>
</body>
</html>
