<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Mod Squad - Invite</title>

    <%- include("../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/signon.css">
    <link rel="stylesheet" href="/assets/css/join.css">
    <link rel="stylesheet" href="/assets/css/signon.css">

    <meta content="Twitch Mod Squad : Discord Invite" property="og:title" />
    <meta content="Here's your invite to Twitch Mod Squad! We're glad to have you! This link will redirect you through authorization methods to Twitch and Discord. This information is used to verify your identity. We don't ever get hands on your password, and these permissions may be revoked at any time in the respective platform's settings." property="og:description" />
    <meta content="/assets/images/logos/logo.webp" property="og:image" />
    <meta content="#A970FF" data-react-helmet="true" name="theme-color" />
</head>
<body>
    <main class="login">
        <h1><img class="logo" src="/assets/images/logos/logo.webp" alt="Twitch Mod Squad Logo"> Twitch Mod Squad <span>invite</span></h1>
        <p><strong>Welcome to Twitch Mod Squad!</strong></p>
        <p>Click below to authorize your Twitch and Discord account on the respective platforms.</p>
        <a class="twitch api-endpoint" href="/api/auth/redirect/twitch" data-endpoint-uri="api/auth/redirect/twitch"><i class="fa-brands fa-twitch"></i> Log in via Twitch</a>
        <p><small>Login is completed officially from Twitch and Discord. TMS never receives your login details. Permissions granted in this process may be revoked at any time in the <a href="https://www.twitch.tv/settings/connections" target="__blank">Connections</a> and Authorized Apps tab.</small></p>
    </main>

    <%- include("../../partials/footer") %>
    
    <%- include("../../partials/js") %>
</body>
</html>
