:root {
    --font-heading: "Rajdhani", sans-serif;
    --font-body: "Inter", sans-serif;

    --primary-background-color: #1c1b1e;
    --secondary-background-color: #26262f;
    --tertiary-background-color: #1a191b;

    --primary-text-color: #eae5f3;
    --secondary-text-color: #a9a2b6;
    --tertiary-text-color: #524b5e;

    --shadow: 2px 2px 10px rgba(0,0,0,0.2);
    --heavy-shadow: 2px 2px 10px rgba(0,0,0,0.35);
    --light-shadow: 2px 2px 15px rgba(255,255,255,0.4);

    --primary-tms-color-rgb: 119, 44, 232;
    --primary-tms-color: #772ce8;
    --secondary-tms-color: #6c24d7;
    --faded-tms-color: rgba(201, 182, 230, 0.9);

    --primary-twitch-color-rgb: 145, 71, 255;
    --primary-twitch-color: #9147ff;
    --secondary-twitch-color: #8239ef;
    --dark-twitch-color: #552996;

    --primary-discord-color-rgb: 88, 101, 242;
    --primary-discord-color: #5865f2;
    --secondary-discord-color: #4f5ceb;
    --dark-discord-color: #2e379c;
}
