<footer>
    <p>Copyright &copy; <%= (new Date()).getFullYear() %> &bullet; TwitchModSquad</p>
    <small>TwitchModSquad is not affiliated with Twitch</small>
    <p>Interested in development of <a href="https://tms.to" target="__blank">ModBot</a>, <a href="https://bridge.tms.to" target="__blank">TDBridge</a> or <a href="https://db.tms.to" target="__blank">Twitch Database</a>? Join our <a href="https://discord.gg/9dxFyaffrK" target="__blank">development Discord server</a>!</p>
</footer>