<header>
    <div class="wrapper">
        <a href="/"><img src="/assets/images/logos/logo.webp" alt="TwitchModSquad Logo"></a>

        <nav>
            <a href="/">Home</a>
            <a href="/streamers">Streamers</a>
            <a href="/hosting">Hosting Services</a>
            <a href="/contact-us">Contact Us</a>
            <a href="https://www.patreon.com/twitchmodsquad" class="cta" target="__blank">Patreon</a>
        </nav>
    </div>
</header>
