<footer>
    <div>
        Artwork by <a href="https://twitter.com/LKArtAccount">@LK#1234</a> &bullet; Website by <a href="https://twijn.net">@Twijn#8888</a>
        <br/>
        Interested in development of TMS services? Join our <a href="https://discord.gg/9dxFyaffrK" target="__blank">development Discord server</a>!
    </div>
</footer>