<header>
    <div class="wrapper">
        <a href="/" class="heading">TMS Database</a>
        <nav>
            <a href="/"><i class="fa-solid fa-house"></i> Home</a>
            <a href="/user/lookup"><i class="fa-solid fa-user-magnifying-glass"></i> User Lookup</a>
            <a href="<%= twitch_uri %>" class="highlight"><i class="fa-brands fa-twitch"></i> Login</a>
        </nav>
    </div>
</header>